@model Giropescando.Models.LoginViewModel

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Pass)
        @Html.PasswordFor(m => m.Pass, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary mt-3">Accedi</button>
}
